[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
